<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<section class="sixth-section section fp-noscroll" th:fragment="main-section-06-slider">
    <div id="fullpage">
        <div class="section">
            <nav class="sixth-section--navigation navigation">
                <ul id="slider-menu">
                    <li data-menuanchor="firstPage">
                        <a href="#firstPage/slide1">제조 및 수유 모드 설정</a>
                        <span class="slider-bar active"></span>
                    </li>
                    <li data-menuanchor="secondPage">
                        <a href="#firstPage/slide2">적정 온도 유지</a>
                        <span class="slider-bar"></span>
                    </li>
                    <li data-menuanchor="thirdPage">
                        <a href="#firstPage/slide3">이상 온도 감지</a>
                        <span class="slider-bar"></span>
                    </li>
                    <li data-menuanchor="fourthPage">
                        <a href="#firstPage/slide4">수유 알림</a>
                        <span class="slider-bar"></span>
                    </li>
                    <li data-menuanchor="fifthPage">
                        <a href="#firstPage/slide5">올바른 수유 자세 교정</a>
                        <span class="slider-bar"></span>
                    </li>
                    <li data-menuanchor="sixthPage">
                        <a href="#firstPage/slide6">분유별 적정 제조온도 설정</a>
                        <span class="slider-bar"></span>
                    </li>
                </ul>
            </nav>
            <div class="sixth-section--contents">
                <div class="sixth-section--contents--shell">
                    <img src="/images/main/section-06/slider1.png" alt="슬라이더 이미지">
                </div>
                <div class="slide" data-anchor="slide1">
                    <div class="sixth-section--contents--text">
                        <span class="sixth-section--contents--text--bar"></span>
                        <h1>제조 및 수유 모드 설정</h1>
                        <p>분유의 영양소 보존과 화상 방지를 위해 적정 수온을 맞추는 것이 매우 중요합니다. 스마트 보틀은 적정 온도를 설정할 수 있어 올바른 분유 제조와 수유가
                            가능하도록
                            도와줍니다.</p>
                    </div>
                    <div class="sixteenth-section--box"></div>
                </div>
                <div class="slide" data-anchor="slide2">
                    <div class="sixth-section--contents--text">
                        <span class="sixth-section--contents--text--bar"></span>
                        <h1>적정 온도 유지</h1>
                        <p>스마트 보틀의 보온 기능으로 이미 제조된 분유를 설정한 수유 온도로 유지합니다.</p>
                    </div>
                    <div class="sixteenth-section--box"></div>
                </div>
                <div class="slide" data-anchor="slide3">
                    <div class="sixth-section--contents--text">
                        <span class="sixth-section--contents--text--bar"></span>
                        <h1>이상 온도 감지</h1>
                        <p>지능적 센서는 이상 온도를 감지하여 알려줍니다. 너무 높은 수온으로 인한 분유의 영양 손실을 막고 아기의 소화기관 손상을 방지합니다. 또한 낮은 수온으로
                            인한
                            소화 불량과 설사와 같은 자극을 방지합니다.</p>
                    </div>
                    <div class="sixteenth-section--box"></div>

                </div>
                <div class="slide" data-anchor="slide4">
                    <div class="sixth-section--contents--text">
                        <span class="sixth-section--contents--text--bar"></span>
                        <h1>수유 알림</h1>
                        <p>아기의 수유 습관을 분석하여 맞춤형으로 알림 설정이 가능합니다.</p>
                    </div>
                    <div class="sixteenth-section--box"></div>
                </div>
                <div class="slide" data-anchor="slide5">
                    <div class="sixth-section--contents--text">
                        <span class="sixth-section--contents--text--bar"></span>
                        <h1>올바른 수유 자세 교정</h1>
                        <p>아기가 젖병의 공기를 들어마실 때의 우유 역류와 기도 막힘을 방지하기 위해 스마트 보틀은 적절하지 않은 자세를 감지하고 섬세한 진동으로 알립니다. 더
                            이상 초보
                            엄마들은 걱정하지 마세요! </p>
                    </div>
                    <div class="sixteenth-section--box"></div>
                </div>
                <div class="slide" data-anchor="slide6">
                    <div class="sixth-section--contents--text">
                        <span class="sixth-section--contents--text--bar"></span>
                        <h1>분유별 적정 제조 온도 설정</h1>
                        <p>분유 제품마다 각기 다른 적정 제조온도를 가지고 있습니다. 앱으로 분유의 바코드를 스캔하면 브랜드와 단계를 식별해 분유 제조에 가장 적합한 온도를 자동
                            설정합니다.</p>
                    </div>
                    <div class="sixteenth-section--box"></div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>