<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<section class="tenth-section section" th:fragment="main-section-10">
    <div class="tenth-section--article">
        <div class="outer">
            <div class="inner">
                <div class="centered">
                    <img class="tenth-section--article--mobile" src="/images/main/section-10/mobile-m-10-phone@2x.png"
                         alt="디바이스 이미지"/>
                    <div>
                        <h1>배변 시간 예측</h1>
                        <p>수집된 데이터를 분석하여 아기의 배변 시간을 예측합니다.</p>
                    </div>
                    <div>
                        <h1>습도 측정</h1>
                        <p>기저귀 이외에 옷가지, 수건 등에 붙여 습도를 확인할 수 있습니다.</p>
                    </div>
                    <div>
                        <h1>기저귀 발진 확률 표시</h1>
                        <p>아기에게 기저귀 발진이 생길 확률을 표시합니다.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <img class="tenth-section--device" src="/images/main/section-10/main-p-10-phone.png" alt="디바이스 이미지"/>
</section>
</body>
</html>