<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <section class="sixteenth-section section" th:fragment="main-section-16">
        <div class="sixteenth-section__icons">
            <div class="sixteenth-section__icons--section-title">
                <p>특별한 내 아이를<br/>더욱 특별하게!</p>
                <h1>리틀원</h1>
            </div>
            <div class="sixteenth-section__icons--health-care">
                <img src="/images/main/section-16/web-m-16-icn-healthcare.svg" alt="헬스케어 아이콘"/>
                <span>헬스케어</span>
            </div>
            <div class="sixteenth-section__icons--smart-device">
                <img src="/images/main/section-16/web-m-16-icn-devices.svg" alt="스마트 디바이스 아이콘"/>
                <span>스마트<br/>디바이스</span>
            </div>
            <div class="sixteenth-section__icons--shopping">
                <img src="/images/main/section-16/web-m-16-icn-shopping.svg" alt="쇼핑 아이콘"/>
                <span>쇼핑</span>
            </div>
            <div class="sixteenth-section__icons--dashboard">
                <img src="/images/main/section-16/web-m-16-icn-dashboard.svg" alt="대쉬보드 아이콘"/>
                <span>대시보드</span>
            </div>
            <div class="sixteenth-section__icons--babybook">
                <img src="/images/main/section-16/web-m-16-icn-diary.svg" alt="육아일지 아이콘"/>
                <span>육아일지</span>
            </div>
            <div class="sixteenth-section__icons--community">
                <img src="/images/main/section-16/web-m-16-icn-community.svg" alt="커뮤니티 아이콘"/>
                <span>커뮤니티</span>
            </div>
        </div>
    </section>
</body>
</html>