<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<section class="eleventh-section section" th:fragment="main-section-11">
    <div class="eleventh-section--article">
        <h1>작고 가벼우며 손쉬운 부착</h1>
        <p>작고 가벼운 피피를 벨크로를 이용하여 기저귀에 부착하면 끝!
            남녀노소 누구나 쉽게 사용할 수 있습니다.</p>
        <div class="eleventh-section--article--mobile-text">
            <p>작고 가벼운 피피를 벨크로를 이용하여 <br>기저귀에 부착하면 끝!</p>
            <p>남녀노소 누구나 쉽게 사용할 수 있습니다.</p>
        </div>
    </div>
    <div class="eleventh-section--image">
        <div>피피와 벨크로를 잡고 있는 여성의 손 이미지입니다.</div>
    </div>
</section>
</body>
</html>