<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<section class="thirteenth-section section" th:fragment="main-section-13">
    <ul>
        <li class="thirteenth-section--list">
            <div class="thirteenth-section--list--image">잠들어 있는 아이의 사진</div>
            <div class="thirteenth-section--list--article">
                <div class="outer">
                    <div class="inner">
                        <div class="centered">
                            <h1>24시간<br>
                                지속적 온도 측정</h1>
                            <p>24시간 지속적으로 온도를 측정하고 발열이 있을 시, 알림으로 바로 아이의 상태를 알아낼 수 있습니다.</p>
                        </div>
                    </div>

                </div>
            </div>
        </li>
        <li class="thirteenth-section--list">
            <div class="thirteenth-section--list--image">잠들어 있는 아이의 사진</div>
            <div class="thirteenth-section--list--article">
                <div class="outer">
                    <div class="inner">
                        <div class="centered">
                            <h1>진단 이력을<br>
                                스마트하게 확인</h1>
                            <p>모니터링한 체온 변화 기록을 클라우드로 전송, 언제 어디서나 아이를 케어할 수 있습니다.</p>
                        </div>
                    </div>

                </div>
            </div>
        </li>
        <li class="thirteenth-section--list">
            <div class="thirteenth-section--list--image">잠들어 있는 아이의 사진</div>
            <div class="thirteenth-section--list--article">
                <div class="outer">
                    <div class="inner">
                        <div class="centered">
                            <h1>높은 정확도와<br>
                                온도단위 전환 가능</h1>
                            <p>±0.1(℃) 오차의 높은 정확도를 제공하며 섭씨/화씨 온도단위 전환이 가능합니다.</p>
                        </div>
                    </div>

                </div>
            </div>
        </li>
        <li class="thirteenth-section--list">
            <div class="thirteenth-section--list--image">잠들어 있는 아이의 사진</div>
            <div class="thirteenth-section--list--article">
                <div class="outer">
                    <div class="inner">
                        <div class="centered">
                            <h1>친환경 통기성 소재</h1>
                            <p>과도한 열기와 습기를 신속히 배출 가능하며, 보송보송하고 편안해 피부 알레르기를 발생시키지 않습니다. 또한 단단하고 균일한 압력이 생성되어 아이 팔뚝에
                                상처가 나지 않습니다.</p>
                        </div>
                    </div>

                </div>
            </div>
        </li>
        <li class="thirteenth-section--list">
            <div class="thirteenth-section--list--image">잠들어 있는 아이의 사진</div>
            <div class="thirteenth-section--list--article">
                <div class="outer">
                    <div class="inner">
                        <div class="centered">
                            <h1>오래가는 사용기간</h1>
                            <p>리튬 배터리 하나로 약 1,000시간
                                사용이 가능합니다.</p>
                        </div>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</section>
</body>
</html>