<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이메일 찾기</title>
</head>
<body>
<div class="find-password-section section" style="position:relative; width: 100%; margin: 0; padding: 0; font-family:Noto Sans, '맑은고딕','NanumGothic','MalgunGothic', dotum, 돋움, Sans-Serif;">
    <div class="find-password-section--outer" style="background-image:url('https://s3.ap-northeast-2.amazonaws.com/littleone/etc/foreignInv.png'); border: 1px solid #ccc; background-repeat: no-repeat; background-size: 100% auto;  width: 600px; max-width: 100%; margin: 0 auto; text-align: center; display: table; height: 680px; ">
        <div class="find-password-section--inner" style="position:relative; display: table-cell; vertical-align: middle; text-align: center;">
            <div class="find-password-section--centered" style="display: inline-block; margin-top: 170px; font-size: 14px;">
                <h1 style="margin: 0; padding: 0; font-size: 1em; font-weight: bold;">Hello, {{nickname}}.</h1>
                <p style="margin: 0; margin-top:24px; padding: 0; font-size: 1em; font-weight: bold;">Thank you for joining Littleone! We really appreciate it.</p>
                <p style="margin: 0;  padding: 0; font-size: 1em; font-weight: bold; margin-top: 4px;">Enjoy the next level parenting assistant, Littleone.</p>
                <div class="find-password-section--centered--box" style="font-size: 14px; margin: 40px auto 0; text-align: center">
                    <a href="{{link}}" style="display: inline-block; vertical-align: middle; text-align: center;">
                        <div style="display:inline-block; width: 160px; height: 36px; line-height: 36px; background-image: url('https://s3.ap-northeast-2.amazonaws.com/littleone/etc/invitation-btn%402x.png'); background-size: 160px 36px; background-repeat: no-repeat;  font-size: 13px; color:#fff; font-style: normal; text-decoration: none; font-weight: 700;">Visit Now</div>
                    </a>
                </div>
                <div class="find-password-section--centered--box" style="margin-top:96px;">
                    <p style="color:#3726af; line-height: 1.36; margin: 0; padding: 0; font-size: 14px; font-weight: bold;">If you encounter any problems,<br>please contact us at <a href="mailto:smart@littleone.kr?Subject=리틀원에 문의 드립니다." style="color:#3a78ff;letter-spacing: .5px; vertical-align: baseline;">smart@littleone.kr</a> with the details of your issue.</p>
                </div>
                <div style="margin-top: 94px;">
                    <em style="font-size: 12px; font-weight: bold; text-decoration: none; font-style: normal;">Next Level Parenting, Littleone</em>
                    <p style="line-height: 1.5; font-weight: 300; font-size: 10px; margin-top: 10px; margin-bottom: 0;">도움이 필요하세요?<a href="mailto:smart@littleone.kr?Subject=리틀원에 문의 드립니다." style="display: inline-block; text-decoration: none; color:#333; font-size: 10px; vertical-align: baseline;">smart@littleone.kr로 이메일을 보내주세요.</a>
                        <br>© 2018 LITTLEONE All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

