<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<h1 class="web-setting-section--container--options--head notification-icon">
    알림
</h1>
<ul class="web-setting-section--container--options--list">
    <li>
        <h2>그룹원 활동</h2>
        <p>그룹원의 활동에 대한 알림을 받습니다.</p>
        <a href="#" class="__switch" id="group-member-activity-option">
            <div></div>
            <input type="hidden" name="option-group-activity" value="false" readonly="readonly"/>
        </a>
    </li>
    <li>
        <h2>좋아요</h2>
        <p>타 회원이 내 게시물에 좋아요를 누르면 알림을 받습니다.</p>
        <a href="#" class="__switch" id="likes-option">
            <div></div>
            <input type="hidden" name="option-others-like" value="false" readonly="readonly"/>
        </a>
    </li>
    <li>
        <h2>초대</h2>
        <p>초대 신청 및 수락에 대한 알림을 받습니다.</p>
        <a href="#" class="__switch" id="invitation-option">
           <div></div>
            <input type="hidden" name="option-invitation" value="false" readonly="readonly"/>
        </a>
    </li>
    <li>
        <h2>생일</h2>
        <p>본인, 아이, 그룹원의 생일 등에 대한 알림을 받습니다.</p>
        <a href="#" class="__switch" id="birthday-option">
            <div></div>
            <input type="hidden" name="option-birthday-alarm" value="false" readonly="readonly"/>
        </a>
    </li>
    <li>
        <h2>일정</h2>
        <p>등록한 일정에 대한 알림을 받습니다.</p>
        <a href="#" class="__switch" id="schedule-option">
            <div></div>
            <input type="hidden" name="option-schedule" value="false" readonly="readonly"/>
        </a>
    </li>
    <li>
        <h2>디바이스</h2>
        <p>연동한 디바이스와 관련된 알림을 받습니다.</p>
        <a href="#" class="__switch" id="connected-device-option">
            <div></div>
            <input type="hidden" name="option-connected-device" value="false" readonly="readonly"/>
        </a>
    </li>
</ul>
</html>