<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div class="dashboard-babybook&#45;&#45;container">-->
<!--<label class="dashboard-babybook&#45;&#45;container&#45;&#45;heading" for="switch">하루 종일</label>-->
<!--<div class="dashboard-babybook&#45;&#45;switch">-->
<!--<a href="#">-->
<!--<span class="switch"></span>-->
<!--<input type="hidden" name="allday" id="switch" value="false" readonly="readonly"/>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="dashboard-babybook&#45;&#45;container" style="padding: 21.5px 0; padding-left: 33px;">-->
<!--<label class="dashboard-babybook&#45;&#45;container&#45;&#45;heading">알림반복</label>-->
<!--<div class="dashboard-babybook&#45;&#45;container&#45;&#45;options schedule-alarm">-->
<!--<div>-->
<!--<a href="#" class="__alarm-repeat active" data-alarm-interval="0">-->
<!--<span>없음</span>-->
<!--</a>-->
<!--</div>-->
<!--<div>-->
<!--<a href="#" class="__alarm-repeat" data-alarm-interval="1">-->
<!--<span>매일</span>-->
<!--</a>-->
<!--</div>-->
<!--<div>-->
<!--<a href="#" class="__alarm-repeat" data-alarm-interval="2">-->
<!--<span>매주</span>-->
<!--</a>-->
<!--</div>-->
<!--<div>-->
<!--<a href="#" class="__alarm-repeat" data-alarm-interval="3">-->
<!--<span>매월</span>-->
<!--</a>-->
<!--</div>-->
<!--<div>-->
<!--<a href="#" class="__alarm-repeat" data-alarm-interval="4">-->
<!--<span>매년</span>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<input type="hidden" name="repeat" value="0"/>-->
<!--</div>-->
<!--<div class="empty-section">-->
<!--알림 반복은 캘린더 선택 날짜 기준으로 적용되며, 1시간 전 알림이 기본입니다.-->
<!--</div>-->
<!--<div class="dashboard-babybook&#45;&#45;container" style="padding: 21.5px 0; padding-left: 33px;">-->
<!--<label class="dashboard-babybook&#45;&#45;container&#45;&#45;heading">알림 시간</label>-->
<!--<div class="dashboard-babybook&#45;&#45;container&#45;&#45;options schedule-notification">-->
<!--<div>-->
<!--<a href="#" class="__alarm-repeat" data-alarm-notify="0">-->
<!--<span>정시</span>-->
<!--</a>-->
<!--</div>-->
<!--<div>-->
<!--<a href="#" class="__alarm-repeat" data-alarm-notify="1">-->
<!--<span>10분전</span>-->
<!--</a>-->
<!--</div>-->
<!--<div>-->
<!--<a href="#" class="__alarm-repeat" data-alarm-notify="2">-->
<!--<span>30분전</span>-->
<!--</a>-->
<!--</div>-->
<!--<div>-->
<!--<a href="#" class="__alarm-repeat active" data-alarm-notify="3">-->
<!--<span>1시간전</span>-->
<!--</a>-->
<!--</div>-->
<!--<div>-->
<!--<a href="#" class="__alarm-repeat" data-alarm-notify="4">-->
<!--<span>1일전</span>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<input type="hidden" name="alarm_time"/>-->
<!--</div>-->
<!--일정구분-->
</body>
</html>