<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head th:include="./include/setting::head"></head>
<body oncontextmenu="return false">
<section th:include="./include/header::header"></section>
<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<section class="wrap_contents">
    <div class="container_contents">
        <h1 class="join_header">LITTLE <em style="vertical-align: bottom; color:#ff5274;">O</em>NE</h1>
        <p class="join_sub_header">NEXT LEVEL PARENTING</p>
        <div class="container_join">
            <form method="post" action="/join_business/auth">
                <div class="container_join_input">
                    <input type="text" id="signup_enterprise_serial" class="join_input box_api" maxlength="12" placeholder="사업자 등록번호">
                    <span class="validation_check2"></span>
                    <input type="hidden" name="corp_num">
                    <button type="button" id="corp_num_auth" class="call_crn_api join_button">인증</button>
                </div>
                <div class="container_join_input">
                    <input type="text" id="signup_enterprise_name" class="join_input" maxlength="20" name="corp_name" placeholder="회사이름" readonly="readonly">
                </div>
                <div class="container_join_input">
                    <input type="text" id="signup_enterprise_person_in_charge" class="join_input" maxlength="20" name="name" placeholder="기업대표 성함" readonly="readonly">
                </div>
                <div class="container_join_input">
                    <input type="tel" id="phone" class="join_input box_api" maxlength="13" placeholder="대표 휴대번호">
                    <span class="validation_check2"></span>
                    <input type="hidden" name="phone">
                    <input type="hidden" name="auth_phone" value="false">
                    <button type="button" class="call_tel_api join_button" id="auth_button">인증</button>
                </div>
                <div class="container_join_input api_info">
                    <input type="text" class="join_input" id="user_name" maxlength="16" value="" placeholder="이름"
                           disabled="disabled">
                    <span class="validation_check api_info">인증된 이름</span>
                    <input type="hidden" value="" name="user_name">
                </div>
                <div class="container_join_input api_info">
                    <input type="text" class="join_input" maxlength="8" id="user_birthdate" value="" placeholder="생년월일"
                           disabled="disabled">
                    <span class="validation_check api_info">인증된 생년월일</span>
                    <input type="hidden" value="" name="user_birthdate">
                    <input type="hidden" value="" name="user_gender">
                    <input type="hidden" value="" name="di">
                </div>
                <br>
                <button type="submit" class="button" id="join_step1">다음 단계로</button>
                <br>
                <ul class="box_info_crn">
                    <li class="infi_stit">사업자 등록번호 인증이 되지 않을 경우, 아래 방법으로 확인하실 수 있습니다.</li>
                    <li>- FAX 접수 : 050-8090-2503으로 사업자등록증 1부, 연락처 기재</li>
                    <li>- 이메일접수 : smart@littleone.kr 로 사업자등록증 1부, 연락처 기재</li>
                    <li>- 전화 문의 : NICE평가정보㈜ 고객센터로 문의 바랍니다. (1600-1522)</li>
                    <li>- 사업자 판매회원 사업자등록<a href="http://www.niceinfo.co.kr/main.nice" class="sm_link">바로가기</a></li>
                    <li>- NICE 평가정보<a href="http://www.niceinfo.co.kr/main.nice" class="sm_link">바로가기</a></li>
                </ul>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
            <form id="form_chk" name="form_chk" method="post">
                <input type="hidden" name="m" value="checkplusSerivce">
                <input type="hidden" id="check_auth_data" name="EncodeData" value="">
            </form>
        </div>
    </div>
</section>
<footer th:include="./include/footer ::footer" class="footer" role="contentinfo"></footer>
<script th:src="@{~/js/validation.js}" type="text/javascript"></script>
<script th:src="@{~/js/sign/enterprise_sign.js}" type="text/javascript"></script>
<script th:src="@{~/js/modal/modal.js}" type="text/javascript"></script>
<script th:src="@{~/js/littleone_script.js}" type="text/javascript"></script>
<script th:src="@{~/js/modal/modal.js}" type="text/javascript"></script>
</body>
</html>
