<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head th:include="./include/setting :: head"></head>
<body oncontextmenu="return false">
<section th:include="./include/header :: header"></section>
<!--[if lt IE 9]>
<div class="ie_warining">
    <h1 class="browserupgrade">(주)리틀원의 웹사이트는 인터넷 익스폴로러 10버전 미만은 지원하지 않습니다. 더 나은 환경과 좋은 서비스를 위해 불편하시더라도 이곳에서<a href="http://browsehappy.com/">브라우저 업그레이드 하기</a>최신버젼으로 업그레이드 해주세요.</h1>
    <p> 최적의 환경을 위해 크롬(chrome) 최신 버젼을 추천합니다.</p>
</div>
<![endif]-->
<!-- 
	배열 board_file 널이 아닐경우 체크 필수. 널이 아니면 each문 돌림
	board_file.original_filename	= 사용자가 첨부한 원래파일이름
	board_file.file_url				= 서버에 업로드된 이미지 url
 -->

<main class="community-write-section section">
    <div>
        <h1 th:if="${#strings.equals(category,'qna')}" class="community-write-section--bread-crumbs" th:text="#{community.board.product.title}"></h1>
        <h1 th:unless="${#strings.equals(category,'qna')}" class="community-write-section--bread-crumbs" th:text="#{community.board.service.title}"></h1>
        <form method="post" enctype="multipart/form-data" id="community-modify-form">
            <label for="subject" class="community-write-section--subject">
                <input type="text" name="subject" id="subject" maxlength="50" th:placeholder="#{community.subject.placeholder}" th:value="${board.subject}">
            </label>
            <textarea id="summernote" class="summernote" name="contents" th:text="${board.contents}"></textarea>
            <div class="community-write-section--buttons">
                <button type="reset" th:data-category="${category}" class="__cancel-modify-button" th:data-board-idx="${board.idx}" th:text="#{community.cancel}">취소</button>
                <button type="submit" th:data-category="${category}" class="__modify-board-button" th:data-board-idx="${board.idx}" th:text="#{community.modify}">수정</button>
            </div>
        </form>
    </div>
</main>

<footer th:replace="./include/footer ::footer"></footer>
<script th:src="@{~/js/validation.js}" type="text/javascript"></script>
<script th:src="@{~/js/littleone_script.js}" type="text/javascript"></script>
<script th:src="@{~/js/modal/modal.js}" type="text/javascript"></script>
<script th:src="@{~/js/login_ajax.js}" type="text/javascript"></script>
<script th:replace="./include/handlebar_template :: handlebar_template"></script>
<script th:src="@{~/js/lib/summernote/summernote-lite.js}" type="text/javascript"></script>
<script th:src="@{~/js/lib/summernote/lang/summernote-ko-KR.js}" type="text/javascript"></script>
<script th:src="@{~/js/community/write.js}" type="text/javascript"></script>
<script th:src="@{~/js/community/modify.js}" type="text/javascript"></script>
<script th:src="@{~/js/header/header.js}" type="text/javascript" charset="UTF-8"></script>
</body>
</html>
